@import 'normalize.css';
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	margin: auto;
	padding: auto;
	width: 100%;
	height: auto;
	overflow-y: auto;
}
section{
	margin: 5% 2%;
}
img{
  max-width: 100%;
  max-height: auto;
}
/*Global */
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*Header style  */
header{
	margin: 1%;
	padding: 1%;
	width: 100%;
	top: 0;
}
/* style for navigation bar  */
header .navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 40%;
}
/* style for drop down menu */
header .menu{
  width: 10%;
	align-self: center;
}
header #logo{
  width:20%;
}
/* style for the search input */
header .search input{
	border: none;
	border-bottom: 2px solid black
}
header .menu-icons{
	display: inline-flex;
	flex-direction: row;
	text-align: right;
	justify-content: space-around;
	align-items: center;
	padding: auto 12%;
	font-size: 0.7em;

}
header .shoppingcart{
	width: 10%;
	height: auto;
}
/*Side bar style  */
.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#fff;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color: black;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
/*Style for Main content including the images and product description  */
.main{
	display: inline-flex;
	margin: auto;
	padding: auto;
	height: 100vh;
	overflow-y: auto;
	-ms-overflow-style: none;
	 scrollbar-width: none;
}
/*Style for  images  */
.main-images{
	width: 50%;
	height: auto;
	margin: 1%;
	padding: auto 2%;
}
.main-images div{
	height: 100vh; 2% auto;
	padding:
}
/* Style for product desciption and form */
.main-content{
	width: 50%;
	padding: 1% 5%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.main-content p{
	text-align: justify;
}
/* Form styling */
form option{
	padding: 2%;
}
form label{
	margin: 2%;
	padding: 2% 4%;
}
form input{
	border: none;
	text-align: right;
	width: 10%;
}
span{
	float: right;
	text-align: right;
}
/*Style for select and options  */
.opt{
	border: none;
	width: 100%;
	padding: 2%;
	margin: 2%;
	overflow: auto;
}
/* Style when hovering over different selections */
select option:hover,
    select option:focus,
    select option:active {
        background: linear-gradient(#000000, #000000);
        background-color: #000000 !important; /* for IE */
        color: #ffed00 !important;
    }

    select option:checked {
        background: linear-gradient(#d6d6d6, #d6d6d6);
        background-color: #d6d6d6 !important; /* for IE */
        color: #000000 !important;
    }
/*Style for the number input for pieces  */
input[type="number"] {
	padding: 2% auto;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* Submit Button style */
button{
	border: none;
	text-align: center;
  text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
}
.btn{
	background-color: black;
	color: white;
	width: 100%;
  padding: 2%;
  display: inline-block;
  font-size: 16px;
}
#error, #result{
	color: red;
	font-size: 0.9em;
	width: 100%;
	white-space: normal;
	padding: 2%;
	text-align: center;
}
.line{
	border-top: 2px black solid;
	width: 100%;
	padding:2%;
}
.collection{
	display: flex;
	height: 35%;
	width: auto;
	justify-content: space-between;
}
.collection div{
	width: 32%;
}
